import { DataSource, DataSourceOptions } from "typeorm";

const connectionOptions: DataSourceOptions = {
  type: "mysql",
  host: "localhost",
  port: 3306,
  username: "root",
  password: "12345678",
  database: "arkmind_db",
  synchronize: false,
  logging: false,
  migrationsRun: false,
  entities: ["./entities/*.ts", "./entities/**/*.ts"],
  migrations: ["./migration/*.ts"],
};

const AppDataSource = new DataSource(connectionOptions);

export default AppDataSource;
